{% extends "portal_resume_app/base_resume.html" %}

{% load static %}

{% block content %}

    <div class="container my-5">
        <div class="accordion" id="resumeAccordion">

            <!-- Personal Information -->
            <div class="card border-light mb-2">
                <div class="card-header bg-primary text-white" id="headingPersonal">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapsePersonal" aria-expanded="false" aria-controls="collapsePersonal">
                            <i class="fas fa-user"></i> Personal
                        </button>
                    </h5>
                </div>
                <div id="collapsePersonal" class="collapse show" aria-labelledby="headingPersonal" data-parent="#resumeAccordion">
                    <div class="card-body">
                        <form id="personalForm" action="{% url 'portal_resume_app:resume_index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input type="text" id="name" name="name" class="form-control" placeholder="John Doe" value="{{ personal_data.name }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" id="email" name="email" class="form-control" placeholder="email@example.com" value="{{ personal_data.email }}">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="address">Address:</label>
                                        <input type="text" id="address" name="address" class="form-control" placeholder="123 Main St, City, Country" value="{{ personal_data.address }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone:</label>
                                        <input type="text" id="phone" name="phone" class="form-control" placeholder="(123) 456-7890" value="{{ personal_data.phone }}">
                                    </div>
                                </div>
                            </div>
                            <button type="button" onclick="submitForm('personalForm')" class="btn btn-primary btn-equal">Save</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Summary -->
            <div class="card border-light mb-2">
                <div class="card-header bg-dark text-white" id="headingSummary">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary">
                            <i class="fas fa-suitcase"></i> Summary
                        </button>
                    </h5>
                </div>
                <div id="collapseSummary" class="collapse show" aria-labelledby="headingSummary" data-parent="#resumeAccordion">
                    <div class="card-body">
                        <form id="summaryForm" action="{% url 'portal_resume_app:resume_index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="sum">
                                    <div class="form-group">
                                        <label for="description2">Summary:</label>
                                        <textarea id="description2" name="description2" class="form-control" rows="3" placeholder="Professional Summary">{{ summary_data.description }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="button" onclick="submitForm('summaryForm')" class="btn btn-primary btn-equal">Save</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Education -->
            <div class="card border-light mb-2">
                <div class="card-header bg-secondary text-white" id="headingEducation">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseEducation" aria-expanded="false" aria-controls="collapseEducation">
                            <i class="fas fa-graduation-cap"></i> Education
                        </button>
                    </h5>
                </div>
                <div id="collapseEducation" class="collapse show" aria-labelledby="headingEducation" data-parent="#resumeAccordion">
                    <div class="card-body">
                        <form id="educationForm" action="{% url 'portal_resume_app:resume_index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="ed">
                                    <div class="form-group">
                                        <label for="degree1">Degree:</label>
                                        <input type="text" id="degree1" name="degree1" class="form-control" placeholder="Bachelor of Science in Computer Science" value="{{ education_data.degree }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="college1">College:</label>
                                        <input type="text" id="college1" name="college1" class="form-control" placeholder="University Name" value="{{ education_data.college }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="cgpa1">CGPA:</label>
                                        <input type="text" id="cgpa1" name="cgpa1" class="form-control" placeholder="CGPA" value="{{ education_data.cgpa }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="year1">Year:</label>
                                        <input type="text" id="year1" name="year1" class="form-control" placeholder="2014 - 2017" value="{{ education_data.year }}">
                                    </div>
                                </div>
                            </div>
                            <button type="button" onclick="submitForm('educationForm')" class="btn btn-primary btn-equal">Save</button>
                            {% if education_data%}
                                {% for education in education_data %}
                                    <br><br>
                                    <button type="button" class="btn btn-danger btn-equal" onclick="deleteEducation('{{ education.id }}')">
                                        {{ education.degree }} &times;
                                    </button>
                                {% endfor %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>

            <!-- Experience -->
            <div class="card border-light mb-2">
                <div class="card-header bg-info text-white" id="headingExperience">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseExperience" aria-expanded="false" aria-controls="collapseExperience">
                            <i class="fas fa-briefcase"></i> Experience
                        </button>
                    </h5>
                </div>
                <div id="collapseExperience" class="collapse show" aria-labelledby="headingExperience" data-parent="#resumeAccordion">
                    <div class="card-body">
                        <form id="experienceForm" action="{% url 'portal_resume_app:resume_index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="exp">
                                    <div class="form-group">
                                        <label for="role1">Role:</label>
                                        <input type="text" id="role1" name="role1" class="form-control" placeholder="Software Developer" value="{{ experience_data.role }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="company1">Company:</label>
                                        <input type="text" id="company1" name="company1" class="form-control" placeholder="Tech Company Inc." value="{{ experience_data.company }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="year1">Year:</label>
                                        <input type="text" id="year1" name="year1" class="form-control" placeholder="Year to Present" value="{{ experience_data.year }}">
                                    </div>
                                </div>
                            </div>
                            <button type="button" onclick="submitForm('experienceForm')" class="btn btn-primary btn-equal">Save</button>
                            {% if experience_data %}
                                {% for experience in experience_data %}
                                    <br><br>
                                    <button type="button" class="btn btn-danger btn-equal" onclick="deleteExperience('{{ experience.id }}')">
                                        {{ experience.company }} &times;
                                    </button>
                                {% endfor %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>

            <!-- Languages -->
            <div class="card border-light mb-2">
                <div class="card-header bg-warning text-dark" id="headingLanguages">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-dark" type="button" data-toggle="collapse" data-target="#collapseLanguages" aria-expanded="false" aria-controls="collapseLanguages">
                            <i class="fas fa-language"></i> Languages
                        </button>
                    </h5>
                </div>
                <div id="collapseLanguages" class="collapse show" aria-labelledby="headingLanguages" data-parent="#resumeAccordion">
                    <div class="card-body">
                        <form id="languageForm" action="{% url 'portal_resume_app:resume_index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="language1">Language:</label>
                                <input type="text" id="language1" name="language1" class="form-control mb-2" placeholder="English, Spanish, German" value="{{ language_data.language }}">
                            </div>
                            <button type="button" onclick="submitForm('languageForm')" class="btn btn-primary btn-equal">Save</button>
                            {% if language_data %}
                                {% for language in language_data %}
                                    <br><br>
                                    <button type="button" class="btn btn-danger btn-equal" onclick="deleteLanguage('{{ language.id }}')">
                                        {{ language.language }} &times;
                                    </button>
                                {% endfor %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>

            <!-- Projects -->
            <div class="card border-light mb-2">
                <div class="card-header bg-success text-white" id="headingProjects">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseProjects" aria-expanded="false" aria-controls="collapseProjects">
                            <i class="fas fa-tachometer-alt"></i> Projects
                        </button>
                    </h5>
                </div>
                <div id="collapseProjects" class="collapse show" aria-labelledby="headingProjects" data-parent="#resumeAccordion">
                    <div class="card-body">
                        <form id="projectForm" action="{% url 'portal_resume_app:resume_index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="proj">
                                    <div class="form-group">
                                        <label for="project1">Project Title:</label>
                                        <input type="text" id="project1" name="project1" class="form-control" placeholder="Project Title" value="{{ project_data.title }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="project_description1">Description:</label>
                                        <textarea id="project_description1" name="project_description1" class="form-control" rows="3" placeholder="Project description">
                                            {{ project_data.formatted_description }}
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="button" onclick="submitForm('projectForm')" class="btn btn-primary btn-equal">Save</button>
                            {% if project_data %}
                                {% for project in project_data %}
                                    <br><br>
                                    <button type="button" class="btn btn-danger btn-equal" onclick="deleteProject('{{ project.id }}')">
                                        {{ project.title }} &times;
                                    </button>
                                {% endfor %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>

            <!-- Certificates -->
            <div class="card border-light mb-2">
                <div class="card-header bg-info text-white" id="headingCertificate">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseCertificate" aria-expanded="false" aria-controls="collapseCertificate">
                            <i class="fas fa-certificate"></i> Certificates
                        </button>
                    </h5>
                </div>
                <div id="collapseCertificate" class="collapse show" aria-labelledby="headingCertificate" data-parent="#resumeAccordion">
                    <div class="card-body">
                        <form id="certificateForm" action="{% url 'portal_resume_app:resume_index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="exp">
                                    <div class="form-group">
                                        <label for="certificate1">Certificate:</label>
                                        <input type="text" id="certificate1" name="certificate1" class="form-control" placeholder="Certificate" value="{{ certificate_data.certificate }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="certificateyear1">Year:</label>
                                        <input type="text" id="certificateyear1" name="certificateyear1" class="form-control" placeholder="Month, Year" value="{{ certificate_data.year }}">
                                    </div>
                                </div>
                            </div>
                            <button type="button" onclick="submitForm('certificateForm')" class="btn btn-primary btn-equal">Save</button>
                            {% if certificate_data %}
                                {% for certificate in certificate_data %}
                                    <br><br>
                                    <button type="button" class="btn btn-danger btn-equal" onclick="deleteCertificate('{{ certificate.id }}')">
                                        {{ certificate.certificate }} &times;
                                    </button>
                                {% endfor %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>

            <!-- Skills -->
            <div class="card border-light mb-2">
                <div class="card-header bg-danger text-white" id="headingSkills">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseSkills" aria-expanded="false" aria-controls="collapseSkills">
                            <i class="fas fa-cogs"></i> Skills
                        </button>
                    </h5>
                </div>
                <div id="collapseSkills" class="collapse show" aria-labelledby="headingSkills" data-parent="#resumeAccordion">
                    <div class="card-body">
                        <form id="skillForm" action="{% url 'portal_resume_app:resume_index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="skill1">Skill:</label>
                                <input type="text" id="skill1" name="skill1" class="form-control mb-2" placeholder="Python, Java, Django" value="{{ skill_data.skill }}">
                            </div>
                            <button type="button" onclick="submitForm('skillForm')" class="btn btn-primary btn-equal">Save</button>
                            {% if skill_data %}
                                {% for skill in skill_data %}
                                    <br><br>
                                    <button type="button" class="btn btn-danger btn-equal" onclick="deleteSkill('{{ skill.id }}')">
                                        {{ skill.skill }} &times;
                                    </button>
                                {% endfor %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <!-- Hobbies -->
            <div class="card border-light mb-2">
                <div class="card-header bg-dark text-white" id="headingHobbies">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseHobbies" aria-expanded="false" aria-controls="collapseHobbies">
                            <i class="fas fa-gamepad"></i> Hobbies
                        </button>
                    </h5>
                </div>
                <div id="collapseHobbies" class="collapse show" aria-labelledby="headingHobbies" data-parent="#resumeAccordion">
                    <div class="card-body">
                        <form id="hobbieForm" action="{% url 'portal_resume_app:resume_index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="hobbies1">Hobbies:</label>
                                <input type="text" id="hobbies1" name="hobbies1" class="form-control mb-2" placeholder="Cricket, Football, Tennis">
                            </div>
                            <button type="button" onclick="submitForm('hobbieForm')" class="btn btn-primary btn-equal">Save</button>
                            {% if hobbie_data %}
                                {% for hobbie in hobbie_data %}
                                    <br><br>
                                    <button type="button" class="btn btn-danger btn-equal" onclick="deleteHobbie('{{ hobbie.id }}')">
                                        {{ hobbie.hobbie }} &times;
                                    </button>
                                {% endfor %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <button class="stylish-button btn-small-right" type="submit">
                <a href="{% url 'portal_resume_app:resume_list' %}" target="_blank" class="stylish-button">Generated Resumes</a>
            </button>
            <button class="stylish-button btn-small-right" type="submit">
                <a href="{% url 'portal_resume_app:resume_save' %}" target="_blank" class="stylish-button">Generate Resumes</a>
            </button>
            <br>
        </div>
    </div>

    <script src="{% static 'portal_resume_app/scripts/custom_scripts.js' %}"></script>
    <script type="text/javascript">
        var DelHobURL = "{% url 'portal_resume_app:resume_del_hob' %}";
        var DelSkillURL = "{% url 'portal_resume_app:resume_del_skill' %}";
        var DelCertiURL = "{% url 'portal_resume_app:resume_del_certi' %}";
        var DelProURL = "{% url 'portal_resume_app:resume_del_pro' %}";
        var DelLangURL = "{% url 'portal_resume_app:resume_del_lang' %}";
        var DelExpURL = "{% url 'portal_resume_app:resume_del_exp' %}";
        var DelEduURL = "{% url 'portal_resume_app:resume_del_edu' %}";
    </script>
    
{% endblock %}