/* Global Styles */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 0.9em; /* Reduce global font size */
}

/* Main Content Wrapper */
.main-content {
    flex: 1;
    padding-bottom: 4rem; /* Add space at the bottom for the fixed contact section */
}

/* Navbar Styles */
.navbar {
    background-color: #333333;
    padding: 0.4rem; /* Reduce padding */
    position: relative;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: #004d40;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-toggler-icon {
    background-image: url("/static/portal_user_app/images/stripes.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #ffffff;
    text-decoration: none;
    padding: 0.4rem 0.8rem; /* Reduce padding */
    margin: 0 0.4rem; /* Reduce margin */
    transition: all 0.3s ease;
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #f7c6c7;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transform: scale(1.05);
}

.collapse {
    display: none;
}

.collapsing {
    transition: height 0.35s ease;
}

.collapse.show {
    display: block;
}

@media (max-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: none !important;
    }

    .navbar-expand-lg .navbar-collapse.show {
        display: block !important;
    }
}

/* Hero Section */
.hero {
    background-image: url('/static/portal_user_app/images/bg4.png');
    background-size: cover;  /* Ensures the image covers the section */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    width: 100%;  /* Full width */
    height: 300px;  /* Default height */
}

/* Responsive adjustments */
@media (max-width: 1080px) {
    .hero {
        height: 150px;  /* Adjust height for smaller screens */
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero {
        height: 150px;  /* Adjust height for smaller screens */
    }
}

@media (max-width: 576px) {
    .hero {
        height: 120px;  /* Further adjust height for very small screens */
    }
}

/* Hero Section Text */
.hero h3 {
    font-size: 2.5rem; /* Adjusted for prominence */
    margin-bottom: 0.5rem;
    color: #e0f2f1; /* Light teal color for the heading */
}

.hero p {
    font-size: 1.2rem; /* Slightly larger font size */
    margin-bottom: 1rem;
    color: #b2dfdb; /* Lighter teal color for the text */
}

/* Hero Section Media Queries */
@media (max-width: 992px) {
    .hero h3 {
        font-size: 4rem; /* Adjust font size for medium screens */
    }

    .hero p {
        font-size: 1rem; /* Adjust font size for medium screens */
    }
}

@media (max-width: 600px) {
    .hero h3 {
        font-size: 2rem; /* Adjust font size for small screens */
    }

    .hero p {
        font-size: 0.9rem; /* Adjust font size for small screens */
    }

    .hero a {
        font-size: 0.75rem; /* Adjust font size for small screens */
    }
}

/* Styles for tablets */
@media (max-width: 768px) {
    .hero {
        padding: 80px 0;
    }
    .navbar-nav {
        text-align: center;
    }
    .navbar-toggler {
        margin-right: 0;
    }
}

/* Styles for mobile devices */
@media (max-width: 576px) {
    .hero {
        padding: 60px 0;
    }
    .navbar-brand {
        font-size: 1.2rem;
    }
    .nav-link {
        font-size: 0.9rem;
    }
    .faq-card {
        padding: 20px;
    }
    .back-to-top {
        display: block;
    }
}

/* Back to Top Button Styles */
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #0077b6;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 8px 12px; /* Reduce padding */
    font-size: 12px; /* Reduce font size */
    cursor: pointer;
    display: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, opacity 0.3s;
}

.back-to-top:hover {
    background-color: #005f73;
}

/* Footer Styles */
footer {
    background-color: #004d40;
    color: white;
    padding: 10px 0; /* Reduce padding */
    box-sizing: border-box;
    position: relative; /* Change to relative */
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 2rem; /* Add space above the footer */
}

footer a {
    color: #ff9f00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #333333;
    padding: 10px; /* Reduce padding */
    box-sizing: border-box;
}

.footer h5 {
    font-size: 1.25rem; /* Reduce font size */
    margin-bottom: 5px; /* Reduce margin */
}

.footer p {
    font-size: 0.8rem; /* Reduce font size */
    margin: 0;
}

@media (max-width: 600px) {
    .footer h5 {
        font-size: 1rem; /* Reduce font size */
    }

    .footer p {
        font-size: 0.75rem; /* Reduce font size */
    }
}

/* Responsive Design */
@media (max-width: 991.98px) {
    .navbar-nav .nav-link {
        padding: 0.3rem 0.5rem; /* Reduce padding */
    }
}

/* Hide the dropdown icon */
.no-icon::after {
    display: none !important; /* Hide the dropdown icon */
}

/* About Us Section */
.about-us {
    background-color: #ffffff;
    padding: 1rem 1rem; /* Padding for the section */
    margin: 5rem auto; /* Center the section and add vertical margin */
    border-radius: 10px; /* Rounded corners for the section */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    max-width: 1200px; /* Max width for the section */
}

/* About Us Heading */
.about-heading {
    font-size: 2.5rem; /* Font size for the heading */
    color: #0077b6; /* Heading color */
    margin-bottom: 1rem; /* Space below the heading */
    text-align: center; /* Center the heading text */
}

/* About Us Text */
.about-text {
    color: #333333; /* Text color */
    font-size: 1rem; /* Font size for the text */
    line-height: 1.6; /* Line height for readability */
    margin-bottom: 1rem; /* Space between paragraphs */
    text-align: center; /* Center text alignment */
}

/* About Us List */
.about-list {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    text-align: left; /* Align text to the left */
}

/* List Items */
.about-list li {
    font-size: 1rem; /* Font size for list items */
    color: #333333; /* Text color */
    margin-bottom: 0.75rem; /* Space between list items */
}

/* List Item Icons */
.about-list i {
    color: #2b7a78; /* Icon color */
    margin-right: 0.5rem; /* Space between icon and text */
}

/* Responsive Styles for About Us Section */
@media (max-width: 992px) {
    .about-us {
        padding: 1.5rem 0.5rem; /* Adjust padding for medium screens */
    }

    .about-heading {
        font-size: 2rem; /* Reduce font size for heading */
    }

    .about-text {
        font-size: 0.9rem; /* Reduce font size for text */
    }

    .about-list li {
        font-size: 0.9rem; /* Reduce font size for list items */
    }
}

@media (max-width: 600px) {
    .about-us {
        padding: 1rem 0.5rem; /* Adjust padding for small screens */
    }

    .about-heading {
        font-size: 1.5rem; /* Reduce font size for heading */
    }

    .about-text {
        font-size: 0.85rem; /* Reduce font size for text */
    }

    .about-list li {
        font-size: 0.85rem; /* Reduce font size for list items */
    }
}

/**/

.cta-section {
    margin-bottom: 0; /* Remove margin between CTA and footer */
    padding-bottom: 0; /* Adjust padding if necessary */
}

.footer {
    margin-top: 0; /* Remove margin between footer and CTA */
    padding-top: 1; /* Adjust padding if necessary */
}


/* Custom styles for smaller screens */
@media (max-width: 767px) {
    .cta-section .container,
    .interview-faqs-section .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .cta-section h2,
    .cta-faqs-section h2 {
        font-size: 1.3rem;
    }
    .cta-section p{
        font-size: 1rem;
    }
}

/* Mobile Menu Alignment */
@media (max-width: 1500px) {
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row; /* Stack nav items horizontally */
        align-items: flex-start; /* Align items to the left */
        padding-left: 0; /* Remove padding */
        margin-left: 0; /* Remove margin */
    }

    .navbar-nav .nav-link {
        padding: 0.5rem 1rem; /* Adjust padding for mobile */
        text-align: left; /* Align text to the left */
        width: 100%; /* Ensure full width for each item */
        border-top: 1px solid #ddd; /* Optional: add a border between items */
        font-size: 0.875rem; /* Adjust font size (smaller size) */
    }

    .navbar-nav .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 0; /* Remove border-radius for sharp edges */
    }

    .navbar-toggler {
        margin: 0; /* Remove margin */
    }

    .collapse.show {
        display: flex !important;
    }
}


/* Mobile Menu Alignment */
@media (max-width: 767px) {
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column; /* Stack nav items horizontally */
        align-items: flex-start; /* Align items to the left */
        padding-left: 0; /* Remove padding */
        margin-left: 0; /* Remove margin */
    }

    .navbar-nav .nav-link {
        padding: 0.5rem 1rem; /* Adjust padding for mobile */
        text-align: left; /* Align text to the left */
        width: 100%; /* Ensure full width for each item */
        border-top: 1px solid #ddd; /* Optional: add a border between items */
        font-size: 0.875rem; /* Adjust font size (smaller size) */
    }

    .navbar-nav .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 0; /* Remove border-radius for sharp edges */
    }

    .navbar-toggler {
        margin: 0; /* Remove margin */
    }

    .collapse.show {
        display: flex !important;
    }
}

/* Ensure dropdown is visible and aligned properly on small screens */
@media (max-width: 767px) {
    .navbar-nav .dropdown-menu {
        left: 0; /* Align dropdown to the left */
        right: auto; /* Reset right alignment */
        width: 100%; /* Ensure dropdown takes full width */
        padding: 0; /* Remove padding */
        border: none; /* Remove border */
        box-shadow: none; /* Remove shadow */
    }

    .navbar-nav .dropdown-menu .dropdown-item {
        padding: 1rem; /* Adjust padding for dropdown items */
        text-align: left; /* Align text to the left */
        font-size: 0.875rem; /* Adjust font size (smaller size) */
    }
}

/**/
.custom-alert {
    padding: 15px;
    font-size: 1.1em;
    border-radius: 5px;
}

/*User Dashboard*/

/* Tabular Design Styles */
.tabular {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    background: #f8f9fa;
    color: #212529;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
}
.tabular:hover {
    transform: scale(1.05);
    background: #e9ecef;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}
.icon {
    font-size: 40px;
    margin-bottom: 10px;
}
.text {
    font-size: 16px;
}


/* Resume and ATS Importance Section Styles */
.resume-ats-section {
    background-color: #f8f9fa;
}

.info-card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.info-card:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.info-card h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.info-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; /* Allows the list to expand and fill the remaining space */
}

.info-card ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.info-card ul li strong {
    font-weight: bold;
}


/* Custom styles for smaller screens */
@media (max-width: 767px) {
    .resume-ats-section .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .resume-ats-section h4 {
        font-size: 1.3rem; /* Adjusted for better readability on smaller screens */
    }
    .info-card {
        padding: 1rem; /* Ensures content inside the cards is not cramped */
    }
    .info-card h4 {
        font-size: 1.1rem; /* Slightly smaller heading for mobile devices */
    }
    .info-card ul li {
        font-size: 0.9rem; /* Smaller font size for better readability on mobile devices */
    }
}

/* Center the modal content */
.modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - 3.5rem);
}
/* Blur background effect */
.modal-backdrop.show {
    background: rgba(0, 0, 0, 0.5);
}
.modal-header .btn-close {
    background: transparent;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}
.modal-header .btn-close::before {
    content: '×';
    font-size: 1.5rem;
    color: #000;
}